
{% macro affiche_form_liste_livre(form) %}
    {% import "@Livre/Macro/livre.html.twig" as livre_macro %}
    {% set livre = form.vars.value %}
    {% set base_livre = livre.baseLivre %}
    <div class="row" data-livre-id="{{ livre.id }}" data-base-livre-id="{{ base_livre.id }}" id="row_livre_{{ livre.id }}">
        {{ form_start(form) }}
        <div class="col-md-4 text-center lien_pop_in">
            {{ base_livre.titre }}
        </div>
        <div class="col-md-2 text-center lien_pop_in">
            {{ livre.dateAjout|date('d/m/Y à H:i') }}
        </div>
        <div class="col-md-3 text-center">
            {{ form_widget(form.lieu) }}
        </div>
        <div class="col-md-2 text-center">
            {{ form_widget(form.prix) }}
        </div>
        <div class="col-md-1">
            <a class="lnk_suppression_livre"
               title="Supprimer un livre">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endmacro %}
{% macro affiche_form_liste_entete() %}
    <div class="row">
        <div class="col-md-4 text-center">
            Titre
        </div>
        <div class="col-md-2 text-center">
            Date d'ajout
        </div>
        <div class="col-md-3 text-center">
            Lieu
        </div>
        <div class="col-md-2 text-center">
            Prix (en euros)
        </div>
        <div class="col-md-1">
        </div>
    </div>

{% endmacro %}