{% extends '::base.html.twig' %}
{% set divIdDevise = "divDevise" %}

 {% block header %}
     Changesous : le suivi des devises
 {% endblock header %}

{% block body %}
    <div class="row">
        <div class="liste_news col-sm-4">
            <h2>Dernières actualités</h2>
            {% for news in liste_news %}
                <div class="news">
                    <h3 class="titre">{{ news.titre }}</h3>
                    <div class="corps">
                        {{ news.corps|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="liste_devise col-sm-4">
            <h3>Devises</h3>
            <select id="sltDevise">
                <option value="0">-</option>
                {% for devise in liste_devise %}
                    <option value="{{ devise.id }}">{{ devise.label }} ({{ devise.code }})</option>
                {% endfor %}
            </select>
            <div id="{{ divIdDevise }}">
                Choisissez une devise.
            </div>
        </div>
        <div class="liste_devise_suivie col-sm-4">
            <h3>Vos devises suivies</h3>
            {% if app.user %}
                toto
                {% for devise_suivie in liste_devises_suivies %}
                    {% set devise = devise_suivie.devise %}
                    {% embed '@Commun/Block/devise.html.twig' %}
                    {% endembed %}
                {% endfor %}
            {% else %}
                {{ render(controller('CommunBundle:Default:registerOuLogin', {'request': app.request} )) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var divIdDevise = '{{ divIdDevise }}';
    </script>
    <script src="{{ asset('js/devise.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
