{% extends '::base.html.twig' %}
{% set divIdDevise = "divDevise" %}

 {% block header %}
     Changesous : le suivi des devises
 {% endblock header %}

{% block body %}
    <div class="row">
        <div class="liste_news col-sm-4">
            <h2>Dernières actualités</h2>
            {% for news in liste_news %}
                <div class="news">
                    <h3 class="titre">{{ news.titre }}</h3>
                    <div class="corps">
                        {{ news.corps|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="liste_devise col-sm-4">
            <h3>Devises</h3>
            <select id="sltDevise">
                <option value="0">-</option>
                {% set devises_affiches = {} %}
                {% if liste_devises_suivies|length>0 %}
                    <optgroup label="Devises suivies">
                        {% for deviseSuivi in liste_devises_suivies %}
                            <option value="{{ deviseSuivi.devise.id }}">{{ deviseSuivi.devise.label }}
                                ({{ deviseSuivi.devise.code }})
                            </option>
                            {% set devises_affiches = devises_affiches|merge([deviseSuivi.devise.id]) %}
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Autres devises">
                {% endif %}

                {% for devise in liste_devise %}
                    {% if devise.id not in devises_affiches %}
                        <option value="{{ devise.id }}">{{ devise.label }} ({{ devise.code }})</option>
                    {% endif %}
                {% endfor %}

                {% if liste_devises_suivies|length>0 %}
                    </optgroup>
                {% endif %}
            </select>
            <div id="{{ divIdDevise }}">
                En attente d'un choix de devise.
            </div>
        </div>
        <div class="liste_devise_suivie col-sm-4">
            <h3>Vos devises suivies</h3>
            {% if app.user %}
                toto
                {% for devise_suivie in liste_devises_suivies %}

                {% endfor %}
            {% else %}
                {{ render(controller('CommunBundle:Default:registerOuLogin', {'request': app.request} )) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var divIdDevise = '{{ divIdDevise }}';
    </script>
    <script src="{{ asset('js/devise.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
