{% extends "LivreBundle::base.html.twig" %}
{% import "@Livre/Macro/bibliotheque.html.twig" as bibliotheque_macro %}

{% block javascripts %}
    <script src="{{ asset('js/bibliotheque_liste.js') }}"></script>
{% endblock %}
{% block title %} Ma bibliothèque{% endblock %}

{% block title_header %}
    Ma bibliothèque
{% endblock %}
{% block zone_body %}
    <div class="col-sm-6">
        <div id="form_ajout">
            <h2>Ajout</h2>
            <div class="row">
                {{ form_start(form_ajout) }}
                {{ form_widget(form_ajout.lieu.maison) }}
                {{ form_widget(form_ajout.lieu.piece) }}
                {{ form_widget(form_ajout.lieu.meuble) }}
                {{ form_widget(form_ajout.lieu.etagere) }}
                <div class="row">
                    <div class="col-sm-9">
                        <div id="form_ajout_erreur" class="alert-danger"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        {{ form_label(form_ajout.isbn) }} :
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(form_ajout.isbn) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_widget(form_ajout.lieu) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form_ajout.btnAjouterLivre, {'attr': {'class':'btn btn-primary pull-right'}}) }}
                    </div>
                </div>

                {{ form_rest(form_ajout) }}
                {{ form_end(form_ajout) }}
            </div>
        </div>
        <div id="liste_livre">
            <h2>Liste des derniers livres</h2>
            {{ bibliotheque_macro.affiche_form_liste_entete() }}
            <div id="liste_livre_ajout"></div>
            {% for form_livre in form_bibliotheque %}
                {{ bibliotheque_macro.affiche_form_liste_livre(form_livre) }}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6" id="detail_livre">
    </div>

{% endblock %}