{% extends "LivreBundle::base.html.twig" %}
{% import "@Livre/Macro/bibliotheque.html.twig" as bibliotheque_macro %}

{% block javascripts %}
    <script src="{{ asset('js/bibliotheque_liste.js') }}"></script>
{% endblock %}
{% block title %} Ma bibliothèque{% endblock %}

{% block title_header %}
    Ma bibliothèque
{% endblock %}
{% block body %}
    <div class="col-sm-2">
        Menu de la partie
    </div>
    <div class="col-sm-6">
        <div id="form_ajout">
            <h2>Ajout</h2>
            <div class="row">
                {{ form_start(form_ajout) }}
                <div class="row">
                    <div class="col-sm-9">
                        <div id="form_ajout_erreur" class="alert-danger"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    {{ form_label(form_ajout.isbn) }} :
                </div>
                <div class="col-sm-4">
                    {{ form_widget(form_ajout.isbn) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form_ajout.btnAjouterLivre, {'attr': {'class':'btn btn-primary pull-right'}}) }}
                </div>

                {{ form_rest(form_ajout) }}
                {{ form_end(form_ajout) }}
            </div>
        </div>
        <div id="liste_livre">
            <h2>Liste des derniers livres</h2>
            {{ bibliotheque_macro.affiche_form_liste_entete()}}
            <div id="liste_livre_ajout"></div>
            {% for form_livre in form_bibliotheque %}
                {{ bibliotheque_macro.affiche_form_liste_livre(form_livre) }}
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modalDetailLabel">ciao pantine</h2>
                </div>
                <div class="modal-body">
                    prout
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}