{% extends "LivreBundle::base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('js/bibliotheque_liste.js') }}"></script>
{% endblock %}
{% block title %} Ma bibliothèque{% endblock %}

{% block title_header %}
    Ma bibliothèque
{% endblock %}
{% block body %}
    <div class="col-sm-2">
        Menu de la partie
    </div>
    <div class="col-sm-6">
        <h2>Liste & ajout</h2>
        {{ form_start(form_ajout) }}
        {{ form_row(form_ajout.isbn) }}
        {{ form_row(form_ajout.btnAjouterLivre, {'attr': {'class':'btn btn-primary pull-right'}}) }}
        {{ form_rest(form_ajout) }}
        <h3>ISBN</h3>
        Formulaire avec saisi ISBN
        <h3>Liste des derniers livres</h3>
        {{ form(form_bibliotheque) }}
    </div>
{% endblock %}