{% import "macro/general.html.twig" as generalMacro %}
{% extends 'AdminBundle::base.html.twig' %}


{% block title_header %}
    Tableau de bord
{% endblock title_header %}

{% block admin_header %}
    Tableau de bord
{% endblock admin_header %}

{% block body %}
    <div class="col-sm-12">
        <h2> Renseignement général </h2>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th class="col-sm-1">
                    Information
                </th>
                <th class="col-sm-1">
                    Détail
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Nombre d'utilisateurs actifs :
                </td>
                <td>
                    {{ nb_user_actifs }} actifs
                </td>
            </tr>
            {% if dernier_batch_devise is not null %}
                <tr>
                    <td>
                        Dernier batch devise executé <span title="{{ dernier_batch_devise.type }}"
                                                           class="glyphicon glyphicon-{{ dernier_batch_devise.icone }}"
                                                           aria-hidden="true"></span> :
                    </td>
                    <td>
                        <div class="alert-info"> Début : {{ dernier_batch_devise.dateDebut|date('d/m/Y H:i:s') }}</div>
                        <div class="alert-info"> Fin : {% if dernier_batch_devise.dateFin is not null %}
                                {{ dernier_batch_devise.dateFin|date('d/m/Y H:i:s') }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div {% if dernier_batch_devise.estLong %}class="alert-danger"
                             {% else %}class="alert-info"{% endif %}>
                            Durée : {{ dernier_batch_devise.duree }}
                        </div>

                    </td>
                </tr>
            {% endif %}
            {% if dernier_batch_alerte is not null %}
                <tr>
                    <td>
                        Dernier batch alerte executé <span title="{{ dernier_batch_alerte.type }}"
                                                           class="glyphicon glyphicon-{{ dernier_batch_alerte.icone }}"
                                                           aria-hidden="true"></span> :
                    </td>
                    <td>
                        <div class="alert-info"> Début : {{ dernier_batch_alerte.dateDebut|date('d/m/Y H:i:s') }}</div>
                        <div class="alert-info"> Fin : {% if dernier_batch_alerte.dateFin is not null %}
                                {{ dernier_batch_alerte.dateFin|date('d/m/Y H:i:s') }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div {% if dernier_batch_alerte.estLong %}class="alert-danger"
                             {% else %}class="alert-info"{% endif %}>
                            Durée : {{ dernier_batch_alerte.duree }}
                        </div>

                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    {% if liste_batch_en_cours|length>0 %}
        <div class="col-sm-12">
            <h2>Liste des batchs en cours</h2>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th class="col-sm-3">
                        Date de début
                    </th>
                    <th class="col-sm-3">
                        Date de fin
                    </th>
                    <th class="col-sm-1">Type</th>
                    <th class="col-sm-1">Durée</th>
                    <th class="col-sm-4">Commentaire</th>
                </tr>
                </thead>
                <tbody>
                {% for batch in liste_batch_en_cours %}
                    <tr class="{{ batch.estLong ?'danger':'info' }}">
                        <td>{{ batch.dateDebut|date('d/m/Y H:i:s') }}</td>
                        <td>-</td>
                        <td>
                        <span title="{{ batch.type }}" class="glyphicon glyphicon-{{ batch.icone }}"
                              aria-hidden="true"></span>
                        </td>
                        <td>{{ batch.duree(true) }}</td>
                        <td>
                            {{ batch.commentaire|nl2br }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% endif %}

    <div class="col-sm-12">
        <h2>Liste des batchs exécutés</h2>
        <div class="navigation text-center">
            {{ knp_pagination_render(batch_pagination) }}
        </div>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th class="col-sm-3 {{ generalMacro.gereTri(batch_pagination, 'b.dateDebut') }}">
                    {{ knp_pagination_sortable(batch_pagination, 'Date de début', 'b.dateDebut') }}
                </th>
                <th class="col-sm-3 {{ generalMacro.gereTri(batch_pagination, 'b.dateFin') }}">
                    {{ knp_pagination_sortable(batch_pagination, 'Date de fin', 'b.dateFin') }}
                </th>
                <th class="col-sm-1">Type</th>
                <th class="col-sm-1">Durée</th>
                <th class="col-sm-4">Commentaire</th>
            </tr>
            </thead>
            <tbody>
            {% for batch in batch_pagination %}
                <tr>
                    <td>{{ batch.dateDebut|date('d/m/Y H:i:s') }}</td>
                    <td>{{ batch.dateFin|date('d/m/Y H:i:s') }}</td>
                    <td>
                        <span title="{{ batch.type }}" class="glyphicon glyphicon-{{ batch.icone }}"
                              aria-hidden="true"></span>

                    </td>
                    <td>{{ batch.duree }}</td>
                    <td>
                        {{ batch.commentaire|nl2br }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(batch_pagination) }}
        </div>
    </div>
{% endblock %}