<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">Fun-Effect</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li{% if page_est_actif('home') %} class="active" {% endif %}><a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Fonctionnement <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="https://github.com/jcognet/changesous/issues">Bug</a></li>
                        <li><a target="_blank" href="https://github.com/jcognet/changesous/wiki">Wiki</a></li>
                        <li><a target="_blank" href="https://github.com/jcognet/changesous">Github</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if espace_est_actif('livre') %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Alex <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('livre_homepage') }}">Tous les livres</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('livre_bibliotheque_liste') }}">
                                    <span class="glyphicon glyphicon-heart"></span>Ma bibliothèque
                                </a></li>
                        {% endif %}
                    </ul>
                </li>
                <li {% if  page_est_actif('commun_contact') %} class="active" {% endif %} ><a
                        href="{{ path('commun_contact') }}">Contact</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_homepage') }}">Admin</a></li>
                {% endif %}

                {% if app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
