{% extends "LivreBundle::base.html.twig" %}
{% block javascripts %}
    <script src="{{ asset('js/lieu_liste.js') }}"></script>
{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/arbre.css') }}"/>
 {% endblock %}
{% block title_header %}
    Gestion de mes lieux
{% endblock %}
{% block zone_body %}

    <input type="hidden" id="hidTypeLieu"/>
    <input type="hidden" id="hidLieuId"/>
    <h2>Ajouter un lieu</h2>
    <div class="row">
        <div class="col-sm-6" id="div_ajouter_lieu">
            {{ form_start(form_type_lieu) }}
            <div class="col-sm-5">
                {{ form_label(form_type_lieu.typeLieu) }} :
            </div>
            <div class="col-sm-5">
                {{ form_widget(form_type_lieu.typeLieu) }}
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-primary pull-right" value="+" id="livrebundle_lieu_btnChoix"/>
            </div>
            {{ form_end(form_type_lieu) }}
        </div>
    </div>
    <h2>Mes lieux</h2>
    <div id="div_mes_lieux">
        {{ render(controller('LivreBundle:Lieu:afficheArbreLieuAjax', {'request': app.request})) }}
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalAjouterLieu" tabindex="-1" role="dialog" aria-labelledby="modalAjouterLieu">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
                <div class="col-sm-12">
                    <div class="progress" id="progress_bar">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="btnEnregistrerLieu">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}