{% import "@Livre/Macro/livre.html.twig" as livreMacro %}
<div>
    <h2>Détail du livre : {{ livre.titre }}
        <small>
            <a href="{{ livre.googleDetailLink }}" target="_blank">
                <img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_92x36dp.png"
                     title="Lien vers la page google book du livre {{ livre.titre }}"/>
            </a>
        </small>
    </h2>
    <table class="table table-striped table-responsive">

        <tr>
            <td colspan="1">
                Résumé :
            </td>
            <td colspan="3">
                <div class="pull-right" style="max-width: 200px">
                    {{ livreMacro.getUrlImage(livre, "pull-right") }}
                </div>
                {{ livre.description|raw('html') }}
            </td>
        </tr>
        <tr>
            <td class="col-sm-1">
                Date de publication :
            </td>
            <td class="col-sm-1">
                {{ livre.datePublication|date('d/m/Y') }}
            </td>
            <td class="col-sm-1">
                ISBN :
            </td>
            <td class="col-sm-1">
                {{ livre.isbn10 }}
                <small>
                    ({{ livre.isbn13 }})
                </small>
            </td>
        </tr>
        <tr>
            <td>
                Nombre de pages annoncés :
            </td>
            <td>
                {{ livre.nombrePages }}
            </td>
            <td>
                Prix :
            </td>
            <td>
                {{ livre.prix }}
            </td>
        </tr>
        {% if livre.hauteur|length>0 or livre.largeur|length>0  or livre.epaisseur|length>0 %}
            <tr>
                <td>
                    Format :
                </td>
                <td colspan="3">
                    Hauteur : {{ livre.hauteur }} -
                    Largeur : {{ livre.largeur }} -
                    Epaisseur : {{ livre.epaisseur }} <br/>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                Pays :
            </td>
            <td>
                {{ livre.pays }}
            </td>
            <td>
                Editeur :
            </td>
            <td>
                {% if livre.editeur is not null %}
                    {{ livre.editeur.nom }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                Auteurs :
            </td>
            <td>
                {% for auteur in livre.auteurs %}
                    {{ auteur.nomComplet }}<br/>
                {% endfor %}
            </td>
            <td>
                Catégorie :
            </td>
            <td>
                {% for categorie in livre.categories %}
                    {{ categorie.label }} <br/>
                {% endfor %}
            </td>
        </tr>
        {% if livre.serie is not null %}
            <tr>
                <td>
                    Série :
                </td>
                <td colspan="3">
                    {{ livre.serie.nom}}
                </td>
            </tr>
        {% endif %}
    </table>
</div>