{% import "@Livre/Macro/livre.html.twig" as livreMacro %}
{% import "macro/general.html.twig" as generalMacro %}
{% if liste_erreurs is defined and liste_erreurs | length>0 %}
    {% for erreur in liste_erreurs %}
        <div class="alert alert-danger">
            {{ erreur }}
        </div>
    {% endfor %}
{% endif %}
<table class="table table-striped table-responsive fe_liste">
    <thead>
    <tr>
        <th class="col-sm-1 {{ generalMacro.gereTri(liste_livres, 'l.titre') }}">
            {{ knp_pagination_sortable(liste_livres, 'Titre', 'l.titre') }}
        </th>
        <th class="col-sm-1 {{ generalMacro.gereTri(liste_livres, 'l.dateCreation') }}">
            {{ knp_pagination_sortable(liste_livres, 'Date de création', 'l.dateCreation') }}
        </th>
        <th class="col-sm-1">ISBN</th>
        <th class="col-sm-1">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for livre in liste_livres %}
        <tr data-id="{{ livre.id }}">
            <td>
                {{ livre.titre }}
            </td>
            <td>
                {{ livre.dateCreation|date('d/m/Y') }}
            </td>
            <td>
                {{ livre.isbn10 }}
            </td>
            <td>
                <a href="{{ path('livre_detail', {'id': livre.id, 'slug': livre.slug})  }}">
                    <span class="glyphicon glyphicon-road"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if liste_livres|length>0 %}
    <div class="navigation">
        {{ knp_pagination_render(liste_livres) }}
    </div>
{% endif %}