<div class="block_devise">
    <div id="{{ divId }}">
    </div>
    <div class="liste_moyenne">
        <table>
            <tr>
                <td>
                    Dernier cours enregistré ({{ devise.jour|date('d/m/Y') }}) :
                </td>
                <td>
                    1
                </td>
                <td>
                    €
                </td>
                <td>
                    = {{ affichePrix(devise.coursJour) }}
                </td>
                <td>
                    {{ devise.raccourciOuLabel }}
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    Moyenne des 30 derniers jours :
                </td>
                <td>
                    1
                </td>
                <td>
                    €
                </td>
                <td>
                    = {{ affichePrix(devise.moyenne30Jours) }}
                </td>
                <td>
                    {{ devise.raccourciOuLabel }}
                </td>
                <td>
                    {% if devise.coursJour>=devise.moyenne30Jours %}
                        <span class="glyphicon glyphicon-ok alert-success" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove alert-danger" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Moyenne des 60 derniers jours :
                </td>
                <td>
                    1
                </td>
                <td>
                    €
                </td>
                <td>
                    = {{ affichePrix(devise.moyenne60Jours) }}</td>
                <td>
                    {{ devise.raccourciOuLabel }}
                </td>
                <td>
                    {% if devise.coursJour >=devise.moyenne60Jours %}
                        <span class="glyphicon glyphicon-ok alert-success" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove alert-danger" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Moyenne des 90 derniers jours :
                </td>
                <td>
                    1
                </td>
                <td>
                    €
                </td>
                <td>
                    = {{ affichePrix(devise.moyenne90Jours) }}
                </td>
                <td>
                    {{ devise.raccourciOuLabel }}
                </td>
                <td>
                    {% if devise.coursJour>=devise.moyenne90Jours %}
                        <span class="glyphicon glyphicon-ok alert-success" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove alert-danger" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Moyenne des 120 derniers jours :
                </td>
                <td>
                    1
                </td>
                <td>
                    €
                </td>
                <td>
                    = {{ affichePrix(devise.moyenne120Jours) }}
                </td>
                <td>
                    {{ devise.raccourciOuLabel }}
                </td>
                <td>
                    {% if devise.coursJour>=devise.moyenne120Jours %}
                        <span class="glyphicon glyphicon-ok alert-success" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove alert-danger" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr id="{{ divId }}_trCalcul" class="tr_calcul">
                <td>
                    <input class="input_devise_id" type="hidden" id="{{ divId }}_devise_id" value="{{ devise.id }}"/>
                    Calculs
                </td>
                <td>
                    <input class="input_calcul_devise input_devise_euro" type="text" id="{{ divId }}_euro"/>
                </td>
                <td>
                    €
                </td>
                <td>
                    = <input class="input_calcul_devise input_devise_autre" type="text"
                             id="{{ divId }}_autre"/>
                </td>
                <td>
                    {{ devise.raccourciOuLabel }}
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var json = {{ json|raw }};
    var divId = '{{ divId }}';
    afficheChart(json, divId);
    $(".input_calcul_devise").change(function (e) {
        calculeSomme($(this));
    });
</script>