{% import "macro/general.html.twig" as generalMacro %}
{% import "CommunBundle:Macro:news.html.twig" as newsMacro %}
<table class="table table-striped table-responsive fe_liste" id="table_news">
    <thead>
    <tr>
        <th class="col-sm-3 {{ generalMacro.gereTri(liste_news_paginator, 'n.dateMiseEnLigne') }}">
            {{ knp_pagination_sortable(liste_news_paginator, 'Date de mise en ligne', 'n.dateMiseEnLigne') }}
        </th>
        <th>
            &nbsp;
        </th>
        <th class="col-sm-7">Titre</th>
        {% if is_granted('ROLE_ADMIN') %}
            <th class="col-sm-1">&nbsp</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for news in liste_news_paginator %}
        <tr data-id="{{ news.id }}" class="{% if news.dateMiseEnLigne> date() %}warning{% endif %}">
            <td>{{ news.dateMiseEnLigne|date('d/m/Y') }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ news.dateMiseEnLigne|date('H:s') }}
                {% endif %}
            </td>
            <td>
                {{newsMacro.getPicto( news) }}
            </td>
            <td>
                {{ news.titre }}
            </td>
            <td>{{ news.dateMiseEnLigne|date('d/m/Y') }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ news.dateMiseEnLigne|date('H:s') }}
                {% endif %}
            </td>
            {% if is_granted('ROLE_ADMIN') %}
                <td class="col-sm-1 action">
                    <a href="{{ path('commun_news_enregistre', {'id': news.id}) }}"
                       title="Modifier une actualité">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="lnk_suppression" href="{{ path('commun_news_supprimer', {'id': news.id}) }}"
                       title="Supprimer une actualité">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if liste_news_paginator|length>0 %}
    <div class="navigation">
        {{ knp_pagination_render(liste_news_paginator) }}
    </div>
{% endif %}