{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            {% if app.user %}
                <li {% if app.request.attributes.get('_route') == 'user_profile_alerte' %}class="active"{% endif %}>
                    <a
                            href="{{ path('user_profile_alerte') }}">Alerte</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'fos_user_change_password' %}class="active"{% endif %}>
                    <a href="{{ path('fos_user_change_password') }}">Mot de passe</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}class="active"{% endif %}>
                    <a href="{{ path('fos_user_profile_edit') }}">Profile</a>
                </li>
            {% else %}
                <li {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}class="active"{% endif %}>
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}class="active"{% endif %}>
                    <a href="{{ path('fos_user_registration_register') }}">Enregistrement</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="col-xs-12">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock body %}
