{% import "macro/general.html.twig" as generalMacro %}
{% extends '@Commun/base.html.twig' %}
{% block javascripts %}
    <script>
        var zone_recherche_visible = false;
    </script>
    <script src="{{ asset('js/liste.js') }}"></script>
    <script src="{{ asset('js/news_liste.js') }}"></script>
{% endblock %}

    {% block header %}
        Quoi de neuf ?
        {% if is_granted('ROLE_ADMIN') %}
            <small>
                <a href="{{ path('commun_news_enregistre') }}" title="Modifier une actualité">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </small>
        {% endif %}
    {% endblock %}
{% block body %}
    <div class="col-sm-6" id="liste_news_bloc">
        <div id="recherche_news_bloc">
            <h2 id="recherche_news_titre">
                Recherche de news
                <small>
                    <span id="recherche_news_ouvrir" class="glyphicon glyphicon-resize-full"></span>
                    <span id="recherche_news_fermer" class="glyphicon glyphicon-resize-small"></span>
                </small>
            </h2>
            <div id="recherche_news">
                {{ form_start(form_recherche) }}
                <div class="col-sm-10">
                    {{ form_widget(form_recherche.label) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form_recherche.chercher) }}
                </div>
                {{ form_end(form_recherche) }}
            </div>
        </div>
        <div>
            <h2>Liste des actualités</h2>
            <div id="liste_news">
                {% embed 'CommunBundle:Block:news_liste.html.twig' %}
                {% endembed %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="detail_news">

        </div>
    </div>
{% endblock %}

