{% import "macro/general.html.twig" as generalMacro %}
{% extends '@Commun/base.html.twig' %}
    {% block header %}
        Liste des actualités
        {% if is_granted('ROLE_ADMIN') %}
            <small>
                <a href="{{ path('commun_news_enregistre') }}" title="Modifier une actualité">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </small>
        {% endif %}
    {% endblock %}
{% block body %}
    <div class="col-sm-12">
        <div class="navigation text-center">
            {{ knp_pagination_render(liste_news_paginator) }}
        </div>
        <table class="table table-striped table-responsive" id="table_news">
            <thead>
            <tr>
                <th class="col-sm-10 {{ generalMacro.gereTri(liste_news_paginator, 'n.dateMiseEnLigne') }}">
                    {{ knp_pagination_sortable(liste_news_paginator, 'Date de mise en ligne', 'n.dateMiseEnLigne') }}
                </th>
                <th class="col-sm-1">Titre</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="col-sm-1">&nbsp</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for news in liste_news_paginator %}
                <tr data-news-id="{{ news.id }}" class="{% if news.dateMiseEnLigne> date()  %}warning{% endif %}">
                    <td>{{ news.dateMiseEnLigne|date('d/m/Y') }}
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ news.dateMiseEnLigne|date('H:s') }}
                    {% endif %}
                    </td>
                    <td>
                        {{ news.titre }}
                        <div class="news_content" id="news_content_{{ news.id }}">{{ news.corps|raw }}</div>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="col-sm-1 action">
                            <a href="{{ path('commun_news_enregistre', {'id': news.id}) }}"
                               title="Modifier une actualité">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="lnk_suppression" href="{{ path('commun_news_supprimer', {'id': news.id}) }}"
                               title="Supprimer une actualité">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(liste_news_paginator) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/news_liste.js') }}"></script>
{% endblock %}
